@use '../navbar.scss';
@import url(../helpers/external/bootstrap/style.css);

// некоторые переменные
:root {
  --avatar-border-width: 2px;
  --avatar-border-color: var(--bs-border-color);
}

html, body { height: 100%; }
body {
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.avatar {
  border-radius: 100%;
  border: var(--avatar-border-width) var(--avatar-border-color) solid;
}
.btn.btn-icon {
  line-height: 1;

  svg {
    vertical-align: -.1em;
  }
}
svg {
  fill: currentColor;
}

main.container-fluid {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 1rem 1rem;
  max-height: 100%;

  section {
    display: flex;
    flex-direction: column;
    border: 1px var(--bs-border-color) solid;
    max-height: 100%;
    overflow: auto;
  }
}

.panel {
  border-inline-end: none;

  &-tools .btn {
    --bs-btn-border-radius: 0;
    padding-block: .75rem;
  }
}

.channels {
  flex: 1;
  overflow: auto;
}
.channel {
  --bgc: var(--bs-body-bg);
  display: flex;
  gap: .35rem;
  background-color: var(--bgc);
  transition: background-color .2s linear;
  cursor: pointer;
  user-select: none;
  padding: .25rem;
  border-block-end: 1px var(--bs-border-color) solid;

  &:hover, &.selected {
    --bgc: color-mix(in srgb, var(--bs-body-bg), var(--bs-primary) 10%);
    .avatar {
      --avatar-border-color: var(--bs-primary);
    }
  }

  &.online .channel-left {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 48px; left: 48px;
      width: .75rem;
      aspect-ratio: 1;
      translate: -90% -90%;
      background-color: var(--bs-primary);
      border: 3px var(--bgc) solid;
      border-radius: 100%;
      box-sizing: content-box;
      transition: border-color .2s linear;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
  }
  &-left:first-child {
    align-items: center;
    gap: .15rem;
  }

  .avatar {
    --avatar-border-width: 3px;
    --avatar-border-color: var(--bs-border-color);
    transition: border-color .2s linear;
  }
  time {
    font-size: .8em;
  }
  .title, .last-author, .last-msg { // схлопываем длинный текст в многоточие
    --clamp-count: 2;
    display: -webkit-box;
    line-clamp: var(--clamp-count);
    -webkit-line-clamp: var(--clamp-count);
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .title {
    line-height: 1.05;
  }
  .last-author {
    --clamp-count: 1;
    font-size: .8em;
    line-height: 1;
    margin-block-start: .4em;
  }
  .last-msg {
    font-size: .7em;
    line-height: 1.2;
  }

  > .badge {
    margin: auto 0 auto auto;
  }
}

.contents {
  position: relative;

  .drop-here { // оверлей для drag&drop
    $border-gap: .75rem;
    position: absolute;
    inset: 0;
    z-index: 3;
    background: var(--bs-body-bg);
    text-align: center;
    border: 4px var(--bs-border-color) dashed;
    padding: $border-gap;
    margin: $border-gap;
    outline: $border-gap var(--bs-body-bg) solid;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__text {
      font-weight: bold;
      margin: 0;
    }
  }

  &.dropping .drop-here {
    display: flex;
  }
  &.dropping * {
    pointer-events: none;
    user-select: none;
  }

  .badge, .spinner {
    margin: auto;
  }

  button {
    border-radius: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    gap: .25rem;
    border-block-end: 2px var(--bs-border-color) solid;
    padding-inline-start: .25rem;

    .avatar {
      margin-block: .25rem;
    }
    > .dropdown {
      margin-inline-start: auto;
      align-self: stretch;
    }
  }
  &-manage, &-input {
    button svg {
      width: 20px;
      height: 20px;
    }
  }
  &-main {
    // оверфлоу и флекс лучше не объединять
    // хз, как сейчас работает скролл, но он работает
    flex: 1;
    overflow: auto;

    .messages-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 100%;
    }
  }
  &-input {
    margin: .25rem 0 0 0;
    border-block-start: 2px var(--bs-border-color) solid;

    textarea {
      resize: none;
      line-height: 1.25;
    }
    button {
      padding: 0 .5rem;
    }
  }
}

.attachments-gallery {
  max-height: calc(3 * 38px);
  overflow: auto;
}

.ag-entry {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: .5rem;
  padding-inline-start: .5rem;

  &__preview {
    padding: .25rem 0;
  }
  &__info {
    display: flex;
    gap: .25em;
    align-items: flex-end;

    &-title {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-size {
      font-size: .8em;
    }
  }
  &__action {
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    gap: .25em;

    .btn {
      color: var(--bs-red);

      &:hover, &:active, &:focus {
        color: color-mix(in srgb, var(--bs-red), #000 33%);
      }
    }
  }
}

.message {
  $manage-delay: .25s;
  $manage-duration: .35s;

  border-block-start: 1px var(--bs-border-color) solid;
  padding: .25rem .25rem 0;
  margin-block-start: .25rem;

  &.pending {
    opacity: .25;
    animation: pending-pulse 5s linear infinite normal;
  }
  &.mentioned {
    background-color: rgba(var(--bs-primary-rgb), .1);
  }
  &.editing {
    background: rgba(var(--bs-warning-rgb), .1);
  }
  &.preview {
    border: none;
    margin: 0;
    padding-block: 0;
  }

  // самое важное здесь - транзишны
  // пока меню скрыто, нужна задержка,
  // которая убирается в открытом состоянии
  &-manage {
    float: inline-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity $manage-duration, visibility 0s $manage-duration;
  }
  &:hover &-manage {
    opacity: 1;
    visibility: visible;
    transition: opacity $manage-duration $manage-delay;
  }


  &.edited &-head:after { // метка измененного сообщения
    content: '(изм.)';
    font-style: italic;
    font-size: .7em;
    opacity: .6;
  }
  time {
    font-size: .7em;
    opacity: .6;
  }


  &-text {
    .mention {
      color: var(--bs-link-color);
      background-color: rgba(var(--bs-link-color-rgb), .15);
      display: inline-block;
      line-height: normal;
      padding: .05em .15em;
      cursor: pointer;
      transition: background-color .2s, color .2s;

      &:hover {
        color: var(--bs-white);
        background-color: var(--bs-link-color);
      }
    }

    *:last-child {
      margin: 0;
    }
  }

  .attachments {
    --bs-accordion-border-radius: 0;
    margin-block-start: .5rem;

    .accordion-button {
      padding: .5rem 1rem .5rem .5rem;

      .bi {
        margin-inline-end: .25em;
      }
      use {
        rotate: 45deg;
        transform-origin: center;
      }
    }
    .accordion-body {
      list-style-type: none;
      padding: .5rem;
      margin-block-end: 0;
    }
  }
}

.user-group {
  cursor: help;

  svg {
    width: 1em;
    fill: currentColor;
  }
}

#modal-members .modal-body {
  display: flex;
  flex-direction: column;
}
.member {
  border-block-end: 1px var(--bs-border-color) solid;
  padding: 0 0 .25rem;
  margin-block-end: .25rem;

  &:last-child {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.suggested-users {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem .5rem;
}
.suggested-user {
  --duration: .2s;
  border-radius: 24px;
  transition: background-color var(--duration), color var(--duration);
  padding: 0 .5rem 0 0;
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--bs-primary-rgb), .2);
  }

  .user-avatar-wrp {
    position: relative;

    &::before {
      --total: 24px;
      --size: 20px;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
      display: block;
      width: var(--size); height: var(--size);
      border-radius: 100%;
      position: absolute;
      left: 2px; top: -1px;
      background-color: var(--bs-primary);
      padding: calc((var(--total) - var(--size)) / 2);
      box-sizing: content-box;
      opacity: 0;
      transition: opacity var(--duration);
      pointer-events: none;
    }
  }
  input {
    display: none;
  }
  &:has(input:checked) {
    background-color: var(--bs-primary);
    color: var(--bs-white);

    .user-avatar-wrp {
      &::before {
        opacity: 1;
      }
      .avatar {
        border-color: var(--bs-primary-border-subtle);
      }
    }
  }
}

.dropdown.no-arrow .dropdown-toggle:after {
  display: none;
}

.form-label:has(+ :required):after {
  content: '*';
  display: inline-block;
  color: var(--bs-red);
  vertical-align: text-top;
  line-height: 1;
  margin-inline-start: .15em;
}

.reply-link, blockquote {
  border-inline-start: 4px var(--bs-primary) solid;
  padding-inline-start: .25em;
  margin-block-end: 0;
}
.reply-link {
  font-style: italic;
}

.hidden {
  display: none;
}

// анимация отправляющегося сообщения:
// кольцевая пульсация прозрачности от 90% до 30%
@keyframes pending-pulse {
  0% { opacity: .3; }
  50% { opacity: .9; }
  100% { opacity: .3; }
}

@import url(../helpers/emoji-panel/style.scss);
